/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/
.syntree-scroller-container {
    display: block;
    max-height: 700px;
    overflow: scroll;
    margin: 10px;
    margin-right: 30px;
}

.syntree-canvas{
    border-radius: 5px;
}